*{margin: 0; padding: 0;}
h1{padding: 1%;}
h2{padding: 2%;}
.title {text-align: center;padding: 22px;}
.content table {width: 500px;margin: 0 auto;}
.content table th, td {border: 1px solid green;}
.content {background-color: ghostWhite;padding: 30px;height: 600px;}

